.signup-btn {
  background-color: #FFBA33;
  box-shadow: 2px 2px 10px #FFBA33;
}

.banner-signin {
  background-image: url('../../assets/eating.png');
}

.primary-text {
  color: rgba(106, 64, 41, 1);
}