.parent-chat {
  font-family: Poppins;
  background-image: url('../../assets/chat-bg.png');
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
}

.delete-btn {
  background-color: #6A4029;
  color: white;
  font-weight: bolder;
}

.cancel-btn {
  border: 2px solid #6A4029;
  color: #6A4029;
  font-weight: bolder;
}

.first-content {
  height: 100vh;
}

.room {
  height: 50vh;
  overflow-y: auto;
}

.list {
  height: auto;
  overflow-y: auto;
}

.search-content {
  overflow-y: auto;
  height: 50vh;
}

.search-container {
  background-color: #6A4029;
  width: 20vw;
  height: 80vh;
}

.mobile-search {
  background-color: #6A4029;
  height: 100vh;
  width: 80vw;
  border-radius: 15px;
}

.search-modal {
  background-color: rgba(0,0,0,0.5);
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  top: 0px;
  left: 0px;
}

@media only screen and (max-width: 600px) {
  .first-content {
    display: flex;
    flex-direction: column;
  }
  /* .search-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  } */
  .parent-chat {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  /* .mobile-chat-room {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  } */
  .mobile-chat-box {
    padding: 10px;
  }
  .mobile-chat-room-parent {
    right: 50px;
    padding: 15px;
    position: relative;
    height: 80vh;
  }
  .mobile-chat-parent {
    right: 30px;
    position: relative;
    height: 80vh;
  }
}