
.nav-hover:hover {
  color: #6A4029;
  font-weight: bold;
}

.modal-parent {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  
}

.close-btn {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #fff;
  animation-duration: 2s;
  animation-name: close;
}

@keyframes close {
  0% {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    transform: rotate(160deg);
    background-color:#c2c2c2;
  }
}

.primary-btn {
  box-shadow: 2px 2px 15px #FFBA33;
  background-color: #FFBA33;
}

.primary-brown-text {
  color:rgb(106, 64, 41, 1);
}

.hamburger {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
}

.clock {
  border-width: thin;
  border-radius: 10px;
  box-shadow: 1px 3px 9px #6A4029;
}

.times {
  font-family: Poppins;
  font-weight: bold;
  color: #6A4029;
}

.date {
  font-family: Poppins;
  font-weight: lighter;
  color: #FFBA33;
}