
.nav-hover:hover {
  color: #6A4029;
  font-weight: bold;
}

.modal-parent {
  height: 700px;
}

.primary-btn {
  box-shadow: 2px 2px 15px #FFBA33;
  background-color: #FFBA33;
}

.primary-brown-text {
  color:rgb(106, 64, 41, 1);
}

.hamburger {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
}

.clock {
  border-width: thin;
  border-radius: 10px;
  box-shadow: 1px 3px 9px #6A4029;
}

.times {
  font-family: Poppins;
  font-weight: bold;
  color: #6A4029;
}

.date {
  font-family: Poppins;
  font-weight: lighter;
  color: #FFBA33;
}